@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

input {
  outline: none;
  padding: 0.6rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

select {
  outline: none;
  padding: 0.6rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  width: 100%;
}